body {
  background-color: #000;
  font-family: sans-serif; 
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.iphone-x .screen .header {
  background: #f9f9f9;
  display: grid;
  grid-template-columns: 70px auto 70px;
  height: 12%;
  padding-top: 30px;
}

.iphone-x .screen .header .profile {
  background-size: cover;
  background: url(Avatar.png);
  border-radius: 100px;
  font-family: sans-serif;
  font-size: 12px;
  height: 40px;
  line-height: 100px;
  margin: 10px auto;
  text-align: center;
  width: 40px;
}

.messages {
  background: #fff;
  padding-top: 1rem;
}

.message-bubble {
  background: #E9E9EB;
  border-radius: 10px;
  color: #000;
  display: block;
  font-family: "ABeeZee", sans-serif;
  font-size:  16px;
  height: auto;
  margin: 3px 10px;
  max-width: 80%;
  padding: 10px;
  white-space: normal;
  word-break: break-word;
}

.message-bubble.animated {
  animation-duration: 150ms;
  animation-delay: 400ms;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.hyperlink {
  color: #0076ff;
}